html, body {
  height: 100%;
  width: 100%;
  background-color: #181818;
  margin: 0;
  padding: 0;
}

.navigationbar a:hover {
  font-weight: bold;
}

.navigationbar > nav {
  background-color: #212121;
  padding: 22px;
  border: solid black;
  margin: 70px;
  font-size: 1.5em;
  margin-bottom: 200px;
  border-radius: 25px;
  top: 0;
  display:inline-block;
}

.navigationbar a {
  color: white;
  margin: 50px;
  text-decoration: none;
  font-family: monospace;
  width: 25%;
}

.login {
  margin: 1rem;
  padding: 4rem 4rem;
}


.login h1 {
  font-family:Trebuchet MS, sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.login div {
  font-family: monospace;
  color: white;
}

.loginimage {
  float: left;
  border: solid black;
  margin: 10px;
}

.logininfo {
  float: left;
  border: solid black;
  margin: 2px;
  border-radius: 25px;
  height: 200px
}

.email {
  margin-bottom: 20px;
  margin-top: 8px;
  margin-left: 3px;
}

.password {
  margin: 4px;
}

input {
  border-radius: 25px;
  font-size: 15px;
  background-color: #212121;
  border: none;
}

.login form {
  display:flex;
  justify-content: center;
}

.login:active {
  color: white;
}

input[type=submit] {
  margin-top: 10px;
  padding: 10px;
  background-color: lightblue;
  color: whitesmoke;
}

input[type=submit]:hover {
  font-weight: bold;
}

textarea:focus, input:focus {
  color: white;
}

input, select, textarea {
  color: white;
}
